@charset "utf-8";
/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Reset
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Våre koder*/
/*body {
  background-image: url(../src/GetImage.jpg);
  background-repeat: no-repeat;
	background-size: cover;
   height: 80%;
   position: absolute;
   width: 100%;
  
}
*/

.bakgrunnsbildediv {
	width: 100vw;
	height: 85vh;
	margin-top: 15vh;
	background-image: url("../src/GetImage.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display:flex;
  	justify-content:center;
 	align-items:center;
}


h1{
	margin-top: 20vh;
	text-align: center;
	font-size: 2vw;
	
}

h2{
	margin-top: 20vh;
	text-align: center;
	font-size: 1.5vw;
}




nav {
        background: black;
        font-family: Times New Roman;
        font-size: 14px;
        height: 94px;
        position: fixed;
        width: 100%;
        z-index: 1;
		top: 0;
    }

nav ul {        
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;   
        height: 94px;     
    }
    nav ul li {
        position: relative;
        white-space: nowrap;
    }
    nav ul li:hover {
        background-color: #f9c534;
    }
    nav ul li a {
        color: white;
        display: block;
        margin: 0;
        padding: 16px;
        text-decoration: none;
		font-size: 20px;
    }
    nav li ul {
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        display: none;
        position: absolute;
        right: -3px;
        top: 50px;
        height: auto;
        min-width: 150px;
    }
    nav ul li:hover ul {
        display: block;
    }
    nav #logo {
        border-radius: 50%;
        background: rgba(0,0,0,0.3);
        border: 0;
        padding: 0;
        width: 90px;
    }
    #mob-dropChecked {
        display: none !important;
    }


.dropdownconent {
	z-index: 3;
	background-color: black;
}


    #mob-dropChecked {
        display: none !important;
    }
   
li a.active {
   border-bottom: 3px solid #f9c534;
  color: white;
}

.lang a {
	text-align: center;
	color: white;
	text-decoration: none;
	display: inline;
}

.lang:hover{
	background-color: none;
    border-color: #fff;
}


.lang img{
	width: 20px;
	height: 15px;
}

/*Navbar slutt*/

	
	

.show {
  display: block;
}


.Velkommen{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  margin: 0 auto;
  width: 65%;
  padding: 25px;
}

.Velkommen h1{
	margin-top: 5vw;
	font-size: 7vw;
	text-align: center;
}

.Velkommen h2{
	margin-top: 5vw;
	font-size: 3vw;
	text-align: center;
}

.Velkommen img{
	width: 6vw;
	display: block;
	margin: 5vh auto 0;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
} 

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 70%;
  height: 70%;
  margin-top: 18vh;
}
 

/*Registrering*/

.table-leggtil{
	margin: 20vh auto;
}




/*footer*/

.footer footer{
	background-color: #333;
	color: white;
	padding: 3vw;
	margin-top: 10vh;
}

.footer table {
    border-collapse: collapse;
    width: 90%;
	margin: 6vh auto 0 9vw;
	padding-top: 5vh;
	
}

.footer th{
	text-align: left;
	font-weight: bold;
	font-size: 3vh;
	padding: 8px;
	width: 15vw;
}

.footer td {
    text-align: left;
    padding: 8px;
	width: 15vw;
	
}


/*footer end*/



/*Timeplan*/
.Timeplan table {
  border-collapse: collapse;
  width: 60%;
  margin: 15vh auto 0;
}

.Timeplan table, td, th {
  border: 1px solid black;
}

#OverskriftTimeplan{
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
  text-align: center;
  background-color: #212020;
  color: white;
}

.Timeplan td{
	padding: 10vh 0.7vw;
	text-align: center;
}

.Timeplan th{
	padding: 0.4vw;
	font-weight: bold;
}

#man {
	background-color: rgba(247,220,79,1.00);
}

#ons {
	background-color: rgba(101,167,247,1.00);
}

#fre{
	background-color: rgba(144,212,145,1.00);
}

.Timeplan p{
	text-align: center;
	margin-top: 10vh;
}


/*Timeplan end*/


/*I TILFELLE VI MÅ ENDRE OG BRUKE DENNE*/
/*<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}
</script> */


/*Gallery*/

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.Gallerioverskrift h1{
	margin-bottom: 10vh;
}


/*Gallery end*/
	
	
@media only screen and (max-width: 600px) {
      nav {
            height: 9.5vh;
		  background: black;
        }
        nav ul {
            display: block;
            height: 9.5vh;
            position: relative;
            top: 44px;
        }
        nav ul li {
            display: none;
        }
        nav #logo {
            display: block;
            position: absolute;
            left: 45%;
            top: -8.8vh;
			width: 55px;
        }
        #mob-btn {
            background-image: url('https://www.shareicon.net/data/512x512/2017/05/09/885755_list_512x512.png');
            background-color: transparent;
            border: 0;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            top: 21px;
            height: 40px;
            width: 40px;
            padding: 13px 20px;
            z-index: 2;
        }
        #mob-dropChecked:checked ~ ul li{
            display: block;
        }
        nav li ul {
            position: relative;
            right: 0;
            top: 16px;
        }
		
		.bakgrunnsbildediv {
			height: 90.5vh;
			margin-top: 9.5vh;
		}
		
		.iframe-container iframe {
 
 		width: 100%;
		height: 40vh;
		margin-top: 10vh;
  		}
	
	
		#YTvideo {
			width: 94%;
			height: 40vh;
			margin: 0 3%;
		}
