@charset "utf-8";
/* CSS Document */

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 0;
}

/*Navbar start*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #0F0F0F;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 2vw 2vw;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #f9c534;
  color: black;
}

#logo{
  width: 7vw;
  height: auto;
  border-radius: 50%;
  margin: 2vw 0 2vw 8vw;
}
/*Navbar slutt*/

/*Innhold på siden*/

.content{
	margin-left:25%;
	padding: 4vw 8vw;
}

h1 {
	text-align: center;
}
.medlemstabell {
	overflow-x: auto;
	display: block;
	padding: 4%;
}

table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

table td, table th {
	border: 1px solid #ddd;
	padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #f9c534;
	color: black;
}

.lagttil{
	margin-left: 30%;
}


